@import '../../../styles/variables.scss';

.checkbox {
  display: flex;
  min-width: 326px;
  @include OpenSans;
  @include fontStyle(14px, 400, 19px);
  letter-spacing: 0%;
  gap: 3px;

  &__item {
    @include width-height(18px, 18px);
    border-radius: 5px;
    border: 1px solid $grayColor;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: $blueColor;
    }
  }

  &__text {
    @include flexCenter;
    user-select: none;
    cursor: pointer;
    gap: 3px;
  }

  &__accent {
    color: $blueColor;
    position: relative;
    cursor: pointer;


    &:hover {
      text-decoration: underline;
      text-decoration-color: $blueColor;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }
}