.checkbox__Container {
  display: flex;
  align-items: center; 
  width: 326px;
  height: 19px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.block__element {
  display: flex;
  align-items: center;
  user-select: none; 
  cursor: auto;
}

.element__modifier {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid #878492;
  cursor: pointer;
  transition: background-color 0.3s;
}

.element__modifier.active {
  background-color: #57AAE4;
}

.block__element {
    white-space: pre; 
  
}

.checkbox__element {
  color: #57AAE4;
  position: relative;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #57AAE4;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
} 