@import '../../../styles/variables.scss';

.input {
  border: 1px solid $grayColor;
  border-radius: 5px;
  padding: 14px 20px;
  transition: .3s;
  @include OpenSans;
  color: $blackColor;
  caret-color: $blueColor;

  &::placeholder {
    @include OpenSans;
    @include fontStyle(16px, 400, 22px);
    letter-spacing: 0%;
    color: $grayColor;
  }

  &:hover {
    border: 1px solid $blueColor;
    background-color: #DFEFFA;

  }

  &:focus {
    border: 2px solid $blueColor;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid $grayColor;
  -webkit-text-fill-color: $blackColor;
  transition: background-color 5000s ease-in-out 0s;
}